@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300&family=Wix+Madefor+Display&display=swap');

*{
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color: whitesmoke;
    width: 100%;
    position: fixed;
    z-index: 999; /*عشان الهيدر مفيش حاجة تغطي عليها*/
    display: flex;
    justify-content: space-between;/*بتخلي الحاجات جنب بعض*/
    align-items: center;
    padding: 10px 200px;
    position: fixed;
    
}
.c{
    text-decoration: none; 
    color: blue;
    font-size: 1.1em;
    font-weight: 600;
    padding-left: 30px;
}

.logo{
    text-decoration: none;
    color: blue;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 1.8em;
}

.O a:hover{
    color: blueviolet;
}
.tab{
    display: none;
}
.responsive_nav{
    display: none;
}
/* -------language start --------- */
.lang-menu{
    display: flex;
    justify-content: space-between;
    list-style: none;   
    column-gap: 1rem;
}
.lang-menu a{
    text-decoration: none;
}
/* -------language end --------- */
section{
    padding: 100px 200px;
}

.main{
    width:100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../images/myphoto-ar.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    direction: rtl;    
}

.main h2{
    color: white;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: lightblue;
    font-size: 3em;
    font-weight: 600;
}

.main h3{
    color: white;
    font-size: 2em;
    font-weight: 700;
    letter-spacing:1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size:1.1em;
    background-color: black;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.5s ease;
    -webkit-border-radius:0.5s ease;
    -moz-border-radius:0.5s ease;
    -ms-border-radius:0.5s ease;
    -o-border-radius:0.5s ease;
    -webkit-transition:0.5s ease;
    -moz-transition:0.5s ease;
    -ms-transition:0.5s ease;
    -o-transition:0.5s ease;
}

.main-btn:hover{
    background-color: darkred;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.social-icons > a{
    color:white;
    font-size:1.7em;
    padding-right: 30px;
}
/* ----about start -----*/
.abt_p{
    color: #363636;
    font-size: 1.25rem;
    text-align: center;
}
/* ----about end -----*/
/* ----skills start -----*/
.flex_skills{
    display: flex;
    justify-content: space-evenly;
    direction: rtl;
}
.skills-title{
    margin-bottom: 10%;;
}
.program-skills{
    color: #d2d2d2;
}
.program-skills h4{
    text-transform: uppercase;
}
.program-skills progress{
    margin-bottom: 5%;
}
@media (max-width:768px) and (min-width:0px){
    .flex_skills{
        flex-direction: column;
        text-align: center;
    }
}
/* ----skills end -----*/
.title {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-weight: 800px;
    font-size: 2.2em;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{ background-color: whitesmoke; width: 21.25em; direction: rtl; box-shadow: 0 5px 25px rgba(1 1 1 / 25%); border-radius: 10px; padding: 25px; margin: 15px; transition: 0.5s ease; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease;
}

.card:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.certificates{
    background-color: #000016;
}

.certificates .content{
    margin-top: 30px;   
}

.certificate-card{
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.5s ease;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

.certificate-card:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.certificate-card:hover .certificate-image{
    opacity: 0.9;
}

.certificate-image img{
    width: 100%;
}

.certificate-info{
    padding: 1em;
    direction: rtl;
}

.certificate-category{
    font-size: 0.8em;
    color: #000;
}

.certificate-title{
    display: flex;
    justify-content: space-between ;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details{
    text-decoration: none;

    color: #3a6cf4;
}

.more-details:hover{
    color: #601cfc;
}

.contact .info h3{
    color: #000;
}

.contact .info p{
    font-size: 1.5em;
}

.footer{
    background-color: #000016;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    direction: rtl;
}

.footer-title{
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span{
    color: #3a6cf4;
}

@media(max-width: 1023px){
    header{
        padding: 12px 20px;
    }

    .O a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width:768px) and (min-width:0px){
    .tab{
        display: inline;
        font-size: 1.5rem;
    }
    .O{
        display: none;
    }
    .responsive_nav{
        display: block;
        height: 100vh;
        width: 60%;
        position: fixed;
        z-index: 999;
        top: 0;
        right: 0;
        background-color: #fff;
        color: blue;
        padding: 2.5%;
        transition: 0.5s;
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
}
    .responsive_nav div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5%;
    }
    .responsive_nav div h2{
        text-transform: uppercase;
    }
    .responsive_nav ul{
        list-style-type: none;
    }
    .responsive_nav li{
        margin-bottom: 2.5%;
        text-transform: capitalize;
    }
    .responsive_nav a{
        text-decoration: none;
        color: blue;
    }
    .open_close_tab{
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }
}
@media(max-width:641px){
    body{
        
        font-size: 12px;
    }

    .main-content h2{
        font-size: 1.4em;        
    }
}

@media (max-width:300px){
    body{
        font-size: 10px;
    }
}

@media (max-width:320px) and (min-width:0px){
    .content{
        flex-wrap: nowrap;
    }
}